body{
}
html { 
    background: url(bg.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: position 10px;cqmax;
  }
div{
    background-color:#9baad1b7;
    overflow:hidden;
    text-align:Center;
    font-size:50px;
    padding-right:100px;
    padding-left:100px;
}